[Unit]
Description=xboxdrv daemon

[Service]
ExecStart=/usr/bin/xboxdrv --daemon --quiet --dbus disabled
Type=simple

[Install]
WantedBy=multi-user.target